.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full viewport height */
  /* background-color: #f8f9fa;  */
  /* Light gray background */
  background-image: url('./medicine-blue-background-flat-lay.jpg');
  background-size: cover;
  /* Ensure the image covers the entire container */
  background-position: center;
}

.specific-heading {
  margin-top: 30px;
  text-align: center;
  color: #ffffff;
}

.scroll-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 80%;
  margin-top: 30px;
  max-width: 640px;
  min-height: 400px;
  max-height: 400px;
  border-radius: 10px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-start;
  width: 93.2%;
  overflow-y: auto;
  max-width: 640px;
  min-height: 400px;
  max-height: 400px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  /* White background */
}

.message {
  /* height: 20px; */
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* height: 10px; */
}

.message.user {
  /* height: 20px; */
  align-self: flex-end;
  justify-content: flex-end;
  margin-right: 47px;
}

.message.bot {
  /* height: 20px; */
  justify-content: flex-start;
}

.avatar {
  margin-right: 10px;
  /* Spacing between avatar and message */
}

.avatar-image {
  margin-top: 6px;
  width: 40px;
  /* Adjust size of the avatar image */
  height: 40px;
  border-radius: 43.5%;
  /* Make it round */
}

.message-content {
  /* justify-content: center; */
  max-width: 70%;
  padding-left: 10px;
  padding-right: 10px;
  /* padding: 10px; */
  border-radius: 15px;
  position: relative;
}

.message.user .message-content {

  max-width: fit-content;
  background-color: #007bff;
  /* Blue background for user messages */
  color: white;
  /* White text color */
}

.message.bot .message-content {
  max-width: 90%;
  background-color: #007bff;
  /* Blue background for bot messages */
  color: white;
  /* White text color */
}

.avatar-right {
  position: absolute;
  top: 50%;
  right: -50px;
  /* Adjust the position of the user icon */
  transform: translateY(-50%);
}

.user-input {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ced4da;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #000000;
}

button {
  padding: 12px 24px;
  margin-left: 10px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: black;
  border: 1px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2181e1;
  color: white;
  border-color: #000000;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

button:focus {
  border-color: #000000;
}